$white-background: #ffffff;
$white-text: #ffffff;

$lightgray-background: #fafafa;
$lightgray-background-secondary: #f0f0f0;
$lightgray-icon: #c3c0c0;
$lightgray-border: #c7cad1;
$lightgray-border-secondary: #eaebee;
$lightgray-text: #8f8989;

$black-text: #333333;

$blue-background: #4b2bf3;
$blue-border: #5956f6;
$blue-border-primary: #7560e4;

$lightred-background: #fcf3f6;
$red-text: #af445e;
$red-border: #9a4e61;

// $border-color: #eff0f1;
// $blue-color: #0969da;
// $info-color: #b5b5b5;
// $description-color: #787878;
